@font-face {
    font-family: "Aller";
    src: url("../fonts/aller.regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Nexa";
    src: url("../fonts/Nexa\ Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}